{% extends "wagtailadmin/base.html" %}
{% load wagtailimages_tags %}
{% load i18n %}

{% block titletag %}{% trans "Images" %}{% endblock %}
{% block content %}
    {% trans "检测" as im_str %}
    {% include "wagtailadmin/shared/header.html" with title=im_str icon="search" %}

    <div class="nice-padding">
        <h1 style="margin-left: 620px">
            待检测图片数量：{{ cnt }}
        </h1>

        <div style="height: 150px">
            <div id="prog_out" class="progress active">
                <div id="prog_in" class="bar" style="width: 0%;" >
                        0%
                </div>
            </div>

            <h3 id="status" style="float: right;margin-top: 27px;margin-right: 150px;">
                检测状态：闲置状态
            </h3>

            <button class = button type="button" class="btn btn-default" onclick="submit_query()" style="float: right;margin-top: 20px;margin-right: 20px">
                开始检测
            </button>
        </div>
{#        样式待调整#}
        <div style="height:500px;width: 80%;text-align: center">
            <div style="float: left;">
                {% include "curStatics.html" %}
            </div>
        </div>

    </div>


    <script>
        function submit_query(btn){
            document.getElementById('status').innerHTML="检测状态：正在检测";
        var sitv = setInterval(function(){
            var prog_url = "http://127.0.0.1:8000/progress/";                   // prog_url指请求进度的url，后面会在django中设置
            $.getJSON(prog_url, function(res){
                let prog_in = document.getElementById("prog_in");
                prog_in.style.width = res + "%"// 改变进度条进度，注意这里是内层的div， res是后台返回的进度
                prog_in.innerText = res + '%';
            });
        }, 2000);                                 // 每1秒查询一次后台进度

        var this_url = "http://127.0.0.1:8000/images/";                        // 指当前页面的url
        $.get(this_url,function (res) {
            clearInterval(sitv);                   // 此时请求成功返回结果了，结束对后台进度的查询
            let prog_in = document.getElementById("prog_in");
            prog_in.style.width = "100%" //设置为完成态
            document.getElementById('status').innerHTML="检测状态：检测完毕";
        });
    }
    </script>
{% endblock %}


