{% extends "wagtailadmin/base.html" %}
{% load i18n %}
{% block titletag %}{% trans "Snippets" %}{% endblock %}
{% block extra_js %}
{% load wagtailadmin_tags static i18n %}
    {{ block.super }}
{% endblock %}



{% block content %}
    {% trans "统计分析" as snippets_str %}
    {% include "wagtailadmin/shared/header.html" with title=snippets_str icon="snippet" %}


    <form action="{% url 'wagtailsnippets:index' %}" method="post" enctype="multipart/form-data" novalidate style="margin: 0px 100px 0px 100px">
        {% csrf_token %}
        <label for="BatchNum">产品编号</label>
        <select name="BatchNum" id="BatchNum">
            {% for cur in BatchNums %}
                {% if cur == curBatchNum %}
                    <option value={{ cur }} selected="selected">{{ cur }}</option>
                {% else %}
                    <option value={{ cur }}>{{ cur }}</option>
                {% endif %}

            {% endfor %}
        </select>
        <br>
        <br>
        <div class="u-hidden@xs" id="sbm">
            <input type="submit" value="{% trans '筛选' %}" class="button" />
        </div>
        <br>
    </form>

    <div style="height: 1200px;width: 1400px;">
{#        <div id = "s1" style="height: 500px;width: 500px;float: left">#}
{#            {% include "wagtailsnippets/statistics/s1.html" %}#}
{#        </div>#}
{#        <div id = "s2" style="height: 500px;width: 500px;float: left">#}
{#            {% include "wagtailsnippets/statistics/s2.html" %}#}
{#        </div>#}
{#        <div id = "s3" style="height: 500px;width: 500px;float: left">#}
{#            {% include "wagtailsnippets/statistics/s1.html" %}#}
{#        </div>#}
{#        <div id = "s4" style="height: 500px;width: 500px;float: left">#}
{#            {% include "wagtailsnippets/statistics/s1.html" %}#}
{#        </div>#}



        <div style="height: 500px;width: 600px;float: left;margin: 50px">
            {% include "wagtailsnippets/statistics/s1.html" %}
        </div>
        <div style="height: 500px;width: 500px;float: left;margin: 30px">
            {% include "wagtailsnippets/statistics/s2.html" %}
        </div>
        <div style="height: 500px;width: 500px;float: left;margin: 50px">
{#            {% include "wagtailsnippets/statistics/s1.html" %}#}
        </div>
        <div style="height: 500px;width: 500px;float: left;margin: 50px">
{#            {% include "wagtailsnippets/statistics/s1.html" %}#}
        </div>
    </div>

{#    <div style="height: 500px;width: 500px; float: left">#}
{#        {% include "wagtailsnippets/statistics/s1.html" %}#}
{#    </div>#}
{##}
{#    <div style="height: 500px;width: 500px; float: left">#}
{#        {% include "wagtailsnippets/statistics/s2.html" %}#}
{#    </div>#}




    <script src="{% static 'wagtailsnippets/js/total/jquery-1.11.0.min.js' %}"></script>
    <script src="{% static 'wagtailsnippets/js/total/an-skill-bar.js' %}"></script>
    <script src="{% static 'wagtailsnippets/js/total/main.js' %}"></script>

<div style="text-align:center;clear:both;">

</div>

<div style="height:100px;background-color: #fff">
</div>
{% endblock %}
