/*.title1{*/
  /*width:100%;*/
  /*background-color:#007d7e;*/
  /*color:#FFFFFF ;*/
  /*font-size:25px;*/
  /*line-height: 2.25;*/
  /*font-family:'Segoe UI';*/
  /*margin-top:-3%;*/
  /*text-align:center;*/

/*}*/
.title2{
  /*border: solid 3px black;*/
  margin-top: 100px;

  text-align: center;
  line-height:40px;
  font-size: 24px;
  color: black;
}

#wrapper {
  padding-top: 20px;
  background: #000524;
  border: 1px solid #000;
  box-shadow: 0 22px 35px -16px rgba(0, 0, 0, 0.71);
  max-width: 800px;
  height:100%;
  margin: 35px auto;
  margin-left: 40%;
}

#chart-bar {
  position: relative;
  margin-top: -38px;
}
.graph1{
  position: relative;
  margin-top: -15%;
  border: solid 3px #fff;
  text-align: center;
  line-height:60px;
  font-size: 24px;
  color: black;
  background-color: #fff;

}
#pie1{
  margin-top: -7%;
  /*margin-left:-15%;*/

}

.introduction{
  width: 400px;
  height: 350px;
  margin-top: -20%;
  margin-left: 63%;
}
#hr1{
  margin-top: 150px;
  margin-left: 40px;
  color: #00a5a5;
  width: 20px;
  border: none;
  border-bottom-right-radius: 10%;
  border-bottom-left-radius:10%;
  border-top-right-radius: 10%;
  border-top-left-radius: 10%;

  border-top:18px solid #00a5a5

}
#p1{
  margin-left: 18%;
  margin-top: -5%;
}
#hr2{
  margin-top: 30px;
  margin-left: 40px;
  color: #f37870;
  width: 20px;
  border: none;
  /*border-bottom-right-radius: 10%;*/
  /*border-bottom-left-radius:10%;*/
  /*border-top-right-radius: 10%;*/
  /*border-top-left-radius: 10%;*/

  border-top:18px solid #f37870

}
#p2{
  margin-left: 18%;
  margin-top: -5%;
}
.container{
  background-color: #fff;
}
